<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - User Management UI Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">User Management UI Demo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Users/Index">Gestisci utenti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Roles/Index">Gestisci ruoli</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Verifica la tua autorizzazione</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Test/Anonymous">Pagina pubblica</a>
                                <a class="dropdown-item" href="/Test/Authenticated">Pagina riservata a utenti autenticati</a>
                                <a class="dropdown-item" href="/Test/Operation1">Pagina riservata a utenti con permesso Operation1</a>
                                <a class="dropdown-item" href="/Test/Operation2">Pagina riservata a utenti con permesso Operation2</a>
                                <a class="dropdown-item" href="/Test/Operation3">Pagina riservata a utenti con permesso Operation3</a>
                                <a class="dropdown-item" href="/Test/UserManagement">Pagina riservata a utenti con permesso UserManagement</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (ViewData["ConfirmationMessage"] != null)
            {
            <div class="alert alert-success" role="alert">
                @ViewData["ConfirmationMessage"]
            </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - User Management UI Demo
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
