@page
@model TestAnonymousModel
<h1>@ViewData["Title"]</h1>
<p>Questa pagina è accessibile pubblicamente, perciò è visibile anche a utenti anonimi che non hanno fatto il login.</p>
<p>Il PageModel di questa Razor Page usa l'attributo <code>AllowAnonymous</code> (opzionale)
   per consentire l'accesso a chiunque.</p>