@page
@model TestAuthenticatedModel
<h1>@ViewData["Title"]</h1>
<p>Sei riuscito ad accedere a questa pagina riservata perché sei un utente autenticato, cioè perché hai fatto il login.</p>
<p>Il PageModel di questa Razor Page usa l'attributo <code>Authorize</code>
   per consentire l'accesso solo agli utenti autenticati.</p>