@page
@model UserEditModel
<div class="row">
<div class="col-10"><h1>@ViewData["Title"]</h1></div>
<div class="col-2 d-flex justify-content-end align-items-end mb-2">
    <form asp-page-handler="Delete">
        <button type="submit" class="btn btn-danger">Elimina</button>
    </form>
</div>
</div>
<div asp-validation-summary="All" class="text-danger"></div>
<fieldset>
    <legend>Profilo</legend>
    <p>dasdasdads</p>
</fieldset>
<fieldset>
    <legend>Ruoli</legend>
    <p>dasdasdads</p>
</fieldset>
<fieldset>
    <legend>Altri claim</legend>
    <p>dasdasdads</p>
</fieldset>