@page
@model IndexModel
<h1>@ViewData["Title"]</h1>

@if (Model.Managers.Count == 0)
{
  <p>Nel database <strong>non esiste alcun utente con il permesso di gestione</strong>. Crealo compilando il form qui sotto:</p>
  <partial name="_UserCreateForm" for="Input"></partial>
}
else
{
  <p>Nel database esistono <strong>@Model.Managers.Count</strong> utenti con permesso di gestione:</p>
  <ul>
  @foreach (var manager in Model.Managers)
  {
    <li>@manager</li>
  }
  </ul>

  @* Invitiamo a visitare la pagina di gestione utenti *@
  @if (User.HasClaim(nameof(Permission), nameof(Permission.UserManagement)))
  {
    <p><strong>Possiedi il permesso di gestione</strong>, perciò puoi accedere alla pagina di <a asp-page="/Users/Index">gestione utenti</a> e a quella di <a asp-page="/Roles/Index">gestione ruoli</a>.</p>
  }
  else
  {
    <p>Al momento non hai il permesso di gestione ma puoi fare il <a asp-area="Identity" asp-page="/Account/Login">login</a> con uno degli account elencati qui per poter accedere alle pagine di <a asp-page="/Users/Index">gestione utenti</a> e <a asp-page="/Roles/Index">gestione ruoli</a>.</p>
  }
}
